@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: #2563eb;

  --sidebar-bg: #0f172a;
  --sidebar-hover: #1e293b;

  --background: #f8fafc;
  --card: #ffffff;

  --border: #e2e8f0;

  --text-primary: #0f172a;
  --text-secondary: #64748b;

  --success: #16a34a;
  --danger: #dc2626;
  --warning: #f59e0b;

  --radius: 16px;
}